body {
    background-color: #777777;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main" "footer footer";
    font-family: 'Ubuntu', sans-serif;
}
header{
    color: #ffffff;
    background-color: #3B3130;
    text-align: center;
    grid-area: header;
}
P{
    font-size: large;
}
nav{
    grid-area: nav;
    background-color: #534F50;
}
main{
    grid-area: main;
    background-color: #F1EED9;
    text-align: center;
    min-height: 89vh;
    background-image: url("mariobackground.jpg");
    background-size: 116em;
}
ul{
    list-style: none;
    text-align: center;
    line-height: 11em;
}
footer{
    grid-area: footer;
    background-color: #312728;
    color: #ffffff;
}
a {
    color: #000000;
}
.close{
    display: none;
}
li:hover{
    background-color:#312f2f;
}
nav > h3{
    text-align: center;
}
li{
    text-align: center;
}

