body {
    background-color: #777777;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "header header" "main main" "footer footer";
    font-family: 'Ubuntu', sans-serif;
}
header{
    color: #ffffff;
    background-color: #3B3130;
    text-align: center;
    grid-area: header;
}
main{
    grid-area: main;
    background-color: #F1EED9;
    min-height: 80vh;
}
h3{
    text-align: center;
}
footer{
    grid-area: footer;
    background-color: #312728;
    color: #ffffff;
}