body {
    background-color: #777777;
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: auto;
       grid-template-areas: "header" "main" "footer";
       font-family: 'Ubuntu', sans-serif;
   }
header{
   color: #ffffff;
   background-color: #3B3130;
   text-align: center;
   grid-area: header;
}
main{
   grid-area: main;
   background-color: #F1EED9;
}

footer{
   grid-area: footer;
   background-color: #312728;
   color: #ffffff;
}
p{
    padding: 1em;
}
h1, h2{
    text-align: center;
    background-color: #3B3130;
    color: #ffffff;
}
.shownav{
    height: 0.9em;
    width: 1.2em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}
.shownav:before{
    content:'';
    position: absolute;
    width: 1.2em;
    top: 7.4em;
    left: 0.5em;
    border-top: 0.2em solid white;
}
nav{
    background-color: #534F50;
    display: none;
    position: fixed;
    top: 6em;
    width: 20%;
    height: 60vh;
   
}
#clicked:target{
    display: block;
}
ul{
    list-style: none;
    text-align: center;
    line-height: 6em;
}
nav > h3{
    text-align: center;
}
a{
    color: #000000;
}