body {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto;
    grid-template-areas: "header header" "main main" "footer footer";
}
.shownav{
    height: 0.9em;
    width: 1.2em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}
.shownav:before{
    content:'';
    position: absolute;
    width: 1.2em;
    top: 7.4em;
    left: 0.5em;
    border-top: 0.2em solid white;
}
nav{
    display: none;
    position: fixed;
    top: 6em;
    width: 50%;
    height: 65vh;
   
}
#clicked:target{
    display: block;
}
ul{
    list-style: none;
    text-align: center;
    line-height: 6em;
}
.close{
    display: block;
}
img{
    width: 40vh;
   height: 20vh;
   margin: 0.5em;
}